<div>
  <div class="jumbotron text-center">
      <h3>Welcome to CG-Deck</h3>
      <p>Pick an organization to get started</p>
      <p>We’re updating the Deck (soon to be the Dashboard) next week, so here’s what to expect! We’re switching to a new codebase that is more flexible and has better tests, so we can change it much faster than we could with the current Deck. It’ll match cloud.gov’s style and navigation! Initially it’ll be missing some of the Deck’s current options for managing apps, and the user experience will need more work; we’ll improve it based on research and use. You can see <a href="https://console-staging.cloud.gov/">an in-progress preview</a> (and <href="https://github.com/18F/cg-deck/issues">our issue list</a>). Let us know at cloud-gov-support@gsa.gov or <a href="https://18f.slack.com/messages/cloud-gov-liberator/">#cloud-gov-liberator</a> if you have questions.</p>
  </div>
</div>
