<div>
  <div class="jumbotron text-center">
      <h3>Welcome to CG-Deck</h3>
      <p>Pick an organization to get started</p>
      <p>We've released a new version of the Deck! Switch over to the new <a href="https://dashboard.cloud.gov/">Dashboard</a> and read the <a href="https://cloud.gov/updates/">update about what's new and different</a>. We'll redirect this Deck to that new Dashboard on approximately July 11, so please let us know at cloud-gov-support@gsa.gov or <a href="https://18f.slack.com/messages/cloud-gov-liberator/">#cloud-gov-liberator</a> if you have questions or if that would cause problems for you.</p>
  </div>
</div>
