<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to Cg-Deck</h1>
        <div ng-switch="authorized">
          <a href="/#/dashboard" class="btn btn-success btn-md" ng-switch-when="true">Welcome</a>
          <a href="/handshake" class="btn btn-primary btn-md" ng-switch-when="false" id="login-btn">Login</a>
        </div>
	<br />
	<div class="text-right">
	<h3>Version: <span class="label label-info">Alpha</span></h3>
	<a href="https://github.com/18F/cg-deck"><span class="glyphicon glyphicon-link" aria-hidden="true">Contribute</span></a>
	</div>
    </div>
</div>
