<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to Cg-Deck</h1>
        <div ng-switch="authorized">
          <a href="/#/dashboard" class="btn btn-success btn-md" ng-switch-when="true">Welcome</a>
          <a href="/handshake" class="btn btn-primary btn-md" ng-switch-when="false" id="login-btn">Login</a>
          <p>We've released a new version of the Deck! Switch over to the new <a href="https://dashboard.cloud.gov/">Dashboard</a> and read the <a href="https://cloud.gov/updates/">update about what's new and different</a>. We'll redirect this Deck to that new Dashboard on approximately July 11, so please let us know at cloud-gov-support@gsa.gov or <a href="https://18f.slack.com/messages/cloud-gov-liberator/">#cloud-gov-liberator</a> if you have questions or if that would cause problems for you.</p>
        </div>
	<br />
	<div class="text-right">
	<h3>Version: <span class="label label-info">Alpha</span></h3>
	<a href="https://github.com/18F/cg-deck"><span class="glyphicon glyphicon-link" aria-hidden="true">Contribute</span></a>
	</div>
    </div>
</div>
