<div class="page-header">
    <h3 class="text-center">{{ main.MenuData.data.currentOrg | orgNameFilter}} Management</h3>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a aria-controls="current_org_users" role="tab" data-toggle="tab" ng-click="showTab('current_org_users')">Organization Users</a>
        </li>
        <li role="presentation"><a aria-controls="add_org_user" role="tab" data-toggle="tab" ng-click="showTab('add_org_user')">Add User to Organization</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" ng-switch='activeTab'>
        <!-- Apps Tab -->
        <div role="tabpanel" class="tab-pane active" id="current_org_users" ng-switch-when='current_org_users'>
            <ng-include src="'app/views/partials/org_users_table.html'"></ng-include>
        </div>
        <!-- services tab -->
        <div role="tabpanel" class="tab-pane active" id="add_org_user" ng-switch-when='add_org_user'>
            <ng-include src="'app/views/partials/add_org_user.html'"></ng-include>
        </div>
    </div>
</div>
<div class='text-center' ng-hide="loadComplete.status">Loading...</div>
