<div class="page-header">
    <h3 class="text-center">{{activeOrg | orgNameFilter}} - {{space.name}}</h3>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="apps" role="tab" data-toggle="tab" ng-click="showTab('apps')">Apps</a>
        </li>
        <li role="presentation"><a aria-controls="serviceInstances" role="tab" data-toggle="tab" ng-click="showTab('serviceInstances')">Service Instances</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" ng-switch='activeTab'>
        <!-- Apps Tab -->
        <div role="tabpanel" class="tab-pane active" id="apps" ng-switch-when='apps'>
            <ng-include src="'app/views/partials/app_table.html'"></ng-include>
        </div>
        <!-- services tab -->
        <div role="tabpanel" class="tab-pane active" id="serviceInstances" ng-switch-when='serviceInstances'>
            <ng-include src="'app/views/partials/service_instance_table.html'"></ng-include>
        </div>
    </div>

</div>
