<div>
    <!-- Tabs -->
    <ng-include src="'app/views/partials/space_tabs.html'"></ng-include>
    <!-- Tab panes -->
    <div class="tab-content" ng-show="users">
        <div role="tabpanel" class="tab-pane active" ng-hide="activeUser">
            <ul class="nav nav-pills">
                <li ng-class="{active: !addUserPill}"><a href="" ng-click="addUserPill = false">Current Space Users</a>
                </li>
                <li ng-class="{active: addUserPill}"><a href="" ng-click="addUserPill = true">{{ MenuData.data.currentOrg | orgNameFilter }} Users</a>
                </li>
            </ul>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </div>

                        <input id="userSearch" type="text" class="form-control" placeholder="Search for a space user"
                        ng-model="usersMgmtService">

                    </div>
                </div>
            </form>

            <table id="usersTable" class="table table-hover table-condensed">
                <thead>
                    <th id='user-name-heading'>
                        <a ng-click="sortType = 'entity.username'; sortReverse = !sortReverse">
                          Name
                      <span ng-show="sortType == 'entity.username' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                      <span ng-show="sortType == 'entity.username' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                  </a>
                    </th>
                    <th id='user-description-heading'>
                        <a ng-click="sortType = 'entity.admin'; sortReverse = !sortReverse">
                         Admin
                      <span ng-show="sortType == 'entity.admin' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                      <span ng-show="sortType == 'entity.admin' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                  </a>
                    </th>
                    <th id='user-created-heading'>
                        <a ng-click="sortType = 'metadata.created_at'; sortReverse = !sortReverse">
                          Date Created
                      <span ng-show="sortType == 'metadata.created_at' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                      <span ng-show="sortType == 'metadata.created_at' && sortReverse" class="glyphicon glyphicon-arrow-down"</span>
                  </a>
                    </th>
                </thead>
                <tbody ng-show="!addUserPill">
                    <tr ng-repeat="user in spaceUsers | orderBy:sortType:sortReverse | filter:usersMgmtService">
                        <td class="user-name-data">
                            <a ng-click="setActiveUser(user)">{{user.entity.username}}</a>
                        </td>
                        <td class="user-description-data">{{user.entity.admin}}</td>
                        <td class="user-date-created-data">{{user.metadata.created_at | date:'yyyy-MM-dd'}}</td>
                    </tr>
                </tbody>
                <tbody ng-show="addUserPill">
                    <tr ng-repeat="user in users | orderBy:sortType:sortReverse | filter:usersMgmtService">
                        <td class="user-name-data">
                            <a ng-click="setActiveUser(user)">{{user.entity.username}}</a>
                        </td>
                        <td class="user-description-data">{{user.entity.admin}}</td>
                        <td class="user-date-created-data">{{user.metadata.created_at | date:'yyyy-MM-dd'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane active" ng-show="activeUser">
            <div class="page-header">
                <h3 class="text-center">{{activeUser.entity.username}}'s permissions for <u>{{space.name}}</u></h3>
            </div>
            <h4>Roles</h4>
            <div class="row row-height text-center">
                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Space Manager</h3>
                        </div>
                        <div class="panel-body">
                            <toggle-switch ng-disabled="disableSwitches" ng-click="toggleSpaceUserPermissions('managers')"
                            ng-model="activeUser.managers">
                            </toggle-switch>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Space Developer</h3>
                        </div>
                        <div class="panel-body">
                            <toggle-switch ng-disabled="disableSwitches" ng-click="toggleSpaceUserPermissions('developers')"
                            ng-model="activeUser.developers">
                            </toggle-switch>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Space Auditor</h3>
                        </div>
                        <div class="panel-body">
                            <toggle-switch ng-disabled="disableSwitches" ng-click="toggleSpaceUserPermissions('auditors')"
                            ng-model="activeUser.auditors">
                            </toggle-switch>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="spaceUserError">{{spaceUserError}}</div>
        </div>
    </div>
    <div class="tab-content" ng-hide="users">
        Loading...
    </div>
</div>
