<table class="table table-bordered" ng-show="space.apps">
  <thead>
    <tr>
      <th id="app-name-heading">App Name</th>
      <th id="buildpack-heading">Buildpack</th>
      <th id="memory-heading">Memory</th>
      <th id="instances-heading">Instances</th>
      <th id="state-heading">State</th>
      <th id="disk-quota-heading">Disk Quota</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="app in space.apps">
      <td class="app-name-data">{{app.name}}</td>
      <td class="buildpack-data">{{app.detected_buildpack}}</td>
      <td class="memory-data">{{app.memory}}</td>
      <td class="instances-data">{{app.instances}}</td>
      <td class="state-data">{{app.state}}</td>
      <td class="disk-quota-data">{{app.disk_quota}}</td>
    </tr>
  </tbody>
</table>
