<table class="table table-bordered" ng-show="activeApps">
  <thead>
    <tr>
      <th id="app-name-heading">App Name</th>
      <th id="buildpack-heading">Buildpack</th>
      <th id="memory-heading">Memory</th>
      <th id="instances-heading">Instances</th>
      <th id="state-heading">State</th>
      <th id="disk-quota-heading">Disk Quota</th>
      <th id="actions-heading">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="app in activeApps">
      <td class="app-name-data">{{app.entity.name}}</td>
      <td class="buildpack-data">{{app.entity.detected_buildpack}}</td>
      <td class="memory-data">{{app.entity.memory}}</td>
      <td class="instances-data">{{app.entity.instances}}</td>
      <td class="state-data">{{app.entity.state}}</td>
      <td class="disk-quota-data">{{app.entity.disk_quota}}</td>
      <td class="actions-data" ng-controller="AppCtrl">
	      <div ng-switch="app.entity.state">
		      <div ng-switch-when='STARTED'>
			      <button type="button" ladda="restarting" class="btn btn-warning" ng-disabled="stopping" ng-click="restartApp(app)">Restart</button>
			      <button type="button" ladda="stopping" class="btn btn-danger" ng-disabled="restarting" ng-click="stopApp(app)">Stop</button>
		      </div>
		      <div ng-switch-when='STOPPED'>
			      <button type="button" ladda="starting" class="btn btn-success" ng-disabled="restarting" ng-click="startApp(app)">Start</button>
		      </div>
	      </div>
      </td>
    </tr>
  </tbody>
</table>
