  <!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Navbar brand -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#/dashboard" ng-click="clearDashboard()">CF-Console</a>
    </div>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ orgDropDownName || "Organizations" }}&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="org in orgs" ng-click="showOrg(org)">
            <a>{{org.entity.name}}</a>
          </li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Tab Views -->
<div ng-switch="visibleTab">
    <div ng-switch-when="organizations">
        <ng-include src="'js/app/partials/organizations.html'"></ng-include>
    </div>
    <div class="jumbotron text-center" ng-switch-default="null">
        <h3>Welcome to CF-Console</h3>
    </div>
</div>
