<div ng-controller="DashboardCtrl">
<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Navbar brand -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/dashboard" ng-click="clearDashboard()">CF-Deck</a>
        </div>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false" id="org-dropdown">{{ (activeOrg | orgNameFilter) || "Organizations" }}&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="org in orgs" ng-click="showOrg(org)">
                            <a class="org-name">{{org | orgNameFilter}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id='orgspaces' ng-click="showOrg(activeOrg)" ng-show="activeOrg">Spaces</a>
                </li>
                <li>
                    <a id='marketplace' ng-click="showOrgMarketplace(activeOrg)" ng-show="activeOrg">Service Marketplace</a>
                </li>
                <li>
                    <a href="/v2/profile">User Profile</a>
                </li>
                <li>
                    <a href="/v2/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Tab Views -->
<div ng-switch="visibleTab">
    <div ng-switch-when="organizations">
        <ng-include src="'js/app/partials/organizations.html'"></ng-include>
    </div>
    <div ng-switch-when="spaces">
        <ng-include src="'js/app/partials/spaces.html'"></ng-include>
    </div>
    <div ng-switch-when="marketplace">
        <ng-include src="'js/app/partials/marketplace.html'"></ng-include>
    </div>
    <div ng-switch-when="service">
        <ng-include src="'js/app/partials/service.html'"></ng-include>
    </div>
    <div class="jumbotron text-center" ng-switch-default="null">
        <h3>Welcome to CF-Deck</h3>
    </div>
</div>
</div>
