<div ng-switch="activeOrg">

    <div ng-switch-when="404">
        <div class="page-header">
            <h3 class="text-center">Sorry, we couldn't find that org</h3>
        </div>
    </div>

    <div ng-switch-when="undefined">
        <!-- show nothing while loading -->
    </div>

    <div ng-switch-default>

        <div class="page-header">
            <h3 class="text-center">{{activeOrg}}</h3>
        </div>
        <div ng-show="spaces.length > 0">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </div>

                        <input type="text" class="form-control" placeholder="Search for space" ng-model="searchSpace">

                    </div>
                </div>
            </form>

            <table id="spacesTable" class="table table-hover">
                <thead>
                    <th>
                        <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'app_count'; sortReverse = !sortReverse">
                Number of Apps
                <span ng-show="sortType == 'app_count' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'app_count' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'mem_dev_total'; sortReverse = !sortReverse">
                Total Development Memory
                <span ng-show="sortType == 'mem_dev_total' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'mem_dev_total' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'entity.mem_prod_total'; sortReverse = !sortReverse">
                Total Production Memory
                <span ng-show="sortType == 'mem_prod_total' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'mem_prod_total' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
                    </th>
                </thead>
                <tbody>
                    <tr ng-click="showSpace(space)" ng-repeat="space in spaces | orderBy:sortType:sortReverse | filter:searchSpace">
                        <td>{{space.name}}</td>
                        <td>{{space.app_count}}</td>
                        <td>{{space.mem_dev_total}}</td>
                        <td>{{space.mem_prod_total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center" ng-show="spaces.length == 0"><h2>This org has no spaces</h2></div>
    </div>
