<div class="page-header">
    <h3 class="text-center">{{service.entity.label}} - service plans</h3>
    <p class="text-center">{{service.entity.description}}</p>
</div>

<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>

            <input id="serviceSearch" type="text" class="form-control" placeholder="Search for a service"
            ng-model="searchService">

        </div>
    </div>
</form>

<table id="servicesTable" class="table table-condensed">
    <thead>
        <th id='plan-name-heading'>
            <a ng-click="sortType = 'entity.name'; sortReverse = !sortReverse">
                Name
            <span ng-show="sortType == 'entity.name' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-show="sortType == 'entity.name' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
        </a>
        </th>
        <th id='plan-free-heading'>
            <a ng-click="sortType = 'entity.free'; sortReverse = !sortReverse">
               Free 
            <span ng-show="sortType == 'entity.free' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-show="sortType == 'entity.free' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
        </a>
        </th>
        <th id='plan-description-heading'>
            <a ng-click="sortType = 'entity.description'; sortReverse = !sortReverse">
               Description 
           <span ng-show="sortType == 'entity.description' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-show="sortType == 'entity.description' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
        </a>
        </th>
        <th>
            Cost
        </th>
        <th>
        </th>

    </thead>
    <tbody>
        <tr ng-click="showService(service)" ng-repeat="plan in plans | orderBy:sortType:sortReverse | filter:searchService">
            <td class="plan-name-data">{{plan.entity.name}}</td>
            <td class="plan-free-data">{{plan.entity.free}}</td>
            <td class="plan-description-data">{{plan.entity.description}}</td>
            <td class="plan-cost-data">
                <table ng-show="plan.entity.extra.costs">
                    <tbody>
                        <tr ng-repeat="cost in plan.entity.extra.costs">
                            <td>{{cost.amount.usd | currency }} &nbsp;</td>
                            <td>{{cost.unit | lowercase}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <button type="button" class="btn btn-xs btn-primary" ng-click="showServiceMaker(plan)">Create Service Instance</button>
            </td>
        </tr>
    </tbody>
</table>

<div id="service-maker" ng-show="serviceMaker">
    <ng-include src="'js/app/partials/servicemaker.html'"></ng-include>

</div>
