{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/no-deprecated": 0,
    "import/no-unresolved": [2, { "ignore": ["skin", "dashboard"] }],
    "react/prefer-stateless-function": 0,
    // TODO(jonathaningram): the following rules are turned off to quiet the
    // linter during a transition between an old version of airbnb/javascript,
    // introducing prettier and upgrading to the latest version of
    // airbnb/javascript.
    // The existence of these rules does not indicate that they should be
    // ignored. It simply means that they should be re-enabled as the codebase
    // is updated.
    "import/imports-first": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-indent": 0
  }
}
