*.swp
*.swo
*.cov
.env
/screenshots/
static/bower_components/
node_modules/
npm-debug.log
coverage
.godeps/
Godeps/_workspace/
cg-deck
cg-dashboard
static/assets
vendor/*
!vendor/vendor.json
.DS_Store
context/selenium-logs/selenium-standalone.txt
# useful for template tests
*.returned
.org.chromium*
# only exclude these index.html files from the VNC service.
# they only appear in the root folder.
/index.html*
