*.swp
*.swo
*.cov
.env
static/bower_components/
node_modules/
npm-debug.log
coverage
.godeps/
Godeps/_workspace/
cg-deck
acceptance/scripts/.env_docker
static/assets
vendor/*
!vendor/vendor.json
.DS_Store
