# The absolute path to your project root. If you followed the cloning instructions
# above, this path should end with `cg-dashboard-ws`
export GOPATH=

# Registered client id with UAA.
export CONSOLE_CLIENT_ID=

# The client secret.
export CONSOLE_CLIENT_SECRET=

# The URL of the service itself.
export CONSOLE_HOSTNAME=http://localhost:9999

# The base URL of the auth service.
export CONSOLE_LOGIN_URL=https://login.cloud.gov

# The URL of the UAA service.
export CONSOLE_UAA_URL=https://uaa.cloud.gov

# The URL of the API service.
export CONSOLE_API_URL=https://api.cloud.gov

# The URL of the loggregator service.
export CONSOLE_LOG_URL=https://loggregator.cloud.gov

# The key used to protect session data
export SESSION_KEY=GONMwryeLTC7a3sRjjDi

# <optional> If set to `true` or `1`, will turn on `/debug/pprof` endpoints as seen [here](https://golang.org/pkg/net/http/pprof/)
# export PPROF_ENABLED=true

# <optional> The absolute path to your `cg-style` repo. If set, will use a local
# copy of `cloudgov-style` to build the front end application.
# export CG_STYLE_PATH=

# <optional> If set to `true` or `1`, will set the `secure` flag on session cookies
# export SECURE_COOKIES=true