# The absolute path to your project root. If you followed the cloning instructions
# above, this path should end with `cg-deck-ws`
export GOPATH=

# Registered client id with UAA.
export CONSOLE_CLIENT_ID=

# The client secret.
export CONSOLE_CLIENT_SECRET=

# The URL of the service itself.
export CONSOLE_HOSTNAME=

# The base URL of the auth service. i.e. `https://login.domain.com`
export CONSOLE_LOGIN_URL=

# The URL of the UAA service. i.e. `https://uaa.domain.com`
export CONSOLE_UAA_URL=

# The URL of the API service. i.e. `http://api.domain.com`
export CONSOLE_API_URL=

# The URL of the loggregator service. i.e. `http://loggregator.domain.com`
export CONSOLE_LOG_URL=

# <optional> If set to `true` or `1`, will turn on `/debug/pprof` endpoints as seen [here](https://golang.org/pkg/net/http/pprof/)
export PPROF_ENABLED=

# <optional> The absolute path to your `cg-style` repo. If set, will use a local
# copy of `cloudgov-style` to build the front end application.
export CG_STYLE_PATH=
