# The absolute path to your project root. If you followed the cloning instructions
# above, this path should end with `cg-dashboard-ws`
export GOPATH=

# Registered client id with UAA.
export CONSOLE_CLIENT_ID=

# The client secret.
export CONSOLE_CLIENT_SECRET=

# The URL of the service itself.
export CONSOLE_HOSTNAME=http://localhost:9999

# The base URL of the auth service.
export CONSOLE_LOGIN_URL=https://login.fr.cloud.gov

# The URL of the UAA service.
export CONSOLE_UAA_URL=https://uaa.fr.cloud.gov

# The URL of the API service.
export CONSOLE_API_URL=https://api.fr.cloud.gov

# The URL of the loggregator service.
export CONSOLE_LOG_URL=https://loggregator.fr.cloud.gov

# The key used to protect session data
export CSRF_KEY="$(openssl rand -hex 32)"

# The key used to protect session data
export SESSION_AUTHENTICATION_KEY="$(openssl rand -hex 64)"

# <optional> If set to `true` or `1`, will turn on `/debug/pprof` endpoints as seen [here](https://golang.org/pkg/net/http/pprof/)
# export PPROF_ENABLED=true

# <optional> The absolute path to your `cg-style` repo. If set, will use a local
# copy of `cloudgov-style` to build the front end application.
# export CG_STYLE_PATH=

# If set to `true` or `1`, will set the `secure` flag on session cookies
export SECURE_COOKIES=true

# <optional> If set to `true` or `1`, will indicate that we are using a
# development Cloud Foundry deployment.
# needed before anything insecure can be used (e.g. insecure cookies.)
# export LOCAL_CF=0

# <optional> The name of the skin to use (defaults to cg)
# export SKIN_NAME=cg

# The SMTP HOST for mailcatcher
export SMTP_HOST=localhost

# The SMTP PORT
export SMTP_PORT=1025

# The SMTP USER
export SMTP_USER=

# The SMTP PASS
export SMTP_PASS=

# The FROM Address for email
export SMTP_FROM='no-reply@cloud.gov'

# The New Relic ID
export NEW_RELIC_ID=12345

# The New Relic Browser License ID
export NEW_RELIC_BROWSER_LICENSE_KEY=abcdef
