
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Override WDS fancy checkboxes/radios
 **/
input[type="checkbox"]:not(.fancy),
input[type="radio"]:not(.fancy) {
  -webkit-appearance: checkbox;
  display: inline;
  left: 0;
  opacity: 1;
  position: static;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  width: auto;
}

input[type="checkbox"]:checked + label::before {
  display: none;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  display: none;
}

.test-user_list .complex_list-item.processing {
  border-left: 4px solid #8ba6ca;
  padding-left: 11px;
}

.test-user_list .complex_list-item {
  padding-left: 15px;
}

.saving.saving-relative {
  float: right;
  font-style: italic;
  background: #fad980;
  padding: 2px 9px;
}

.complex_list-item.saving{
  background: #fad980;
}