/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Override WDS fancy checkboxes/radios
 **/
input[type="checkbox"]:not(.fancy),
input[type="radio"]:not(.fancy) {
  -webkit-appearance: checkbox;
  display: inline;
  left: 0;
  opacity: 1;
  position: static;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  width: auto;
}

input[type="checkbox"]:checked + label::before {
  display: none;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  display: none;
}
