

/*
 *  * Override max width of main content section
 *   */
.main_content {
  max-width: initial;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 1224px;
}

.sidenav {
  width: 240px;
}

.content {
  margin-left: 2rem;
  max-width: 888px;
  padding: 1.5rem;
  width: 888px;
}

.usa-disclaimer {
  height: auto;
  padding-bottom: .5rem;
}

.p1 {
  padding-left: 1rem;
}

.action-secondary {
  cursor: pointer;
}
