
.sidebar {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar > .active > a,
.sidebar > .active > a:hover,
.sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.sublink {
}
