<table class="table table-hover text-left">
    <thead>
        <tr>
            <th>User Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-form>
            <td>
                <input class="form-control" placeholder="Invite user by user name" name="userName" ng-model="newUser.userName" required/>
            </td>
            <td>
                <button type="button" type="submit" class="btn btn-success" ng-disabled="blockRoutes" ng-click="addUserToOrg(newUser)">
                    Add User to Org
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="alert alert-danger" role="alert" ng-show="inviteOrgUserError">{{inviteOrgUserError}}</div>
