<table class="table table-hover text-left">
    <thead>
        <tr>
            <th>E-mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-form>
            <td>
                <input class="form-control" placeholder="Invite user by e-mail" name="email" ng-model="newUser.email" required/>
            </td>
            <td>
                <button type="button" type="submit" class="btn btn-success" ng-disabled="blockRoutes" ng-click="addUserToOrg(newUser)">
                    Add User to Org
                </button>
            </td>
        </tr>
    </tbody>
</table>

