<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>

            <input type="text" class="form-control" placeholder="Search for app" ng-model="appSpace">

        </div>
    </div>
</form>

<table id="appTable" class="table table-hover">
    <thead>
        <th id="app-name-heading">
            <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th id="buildpack-heading">
            <a ng-click="sortType = 'detected_buildpack'; sortReverse = !sortReverse">
                Buildpack
                <span ng-show="sortType == 'detected_buildpack' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'detected_buildpack' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th id="memory-heading">
            <a ng-click="sortType = 'memory'; sortReverse = !sortReverse">
                Memory
                <span ng-show="sortType == 'memory' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'memory' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th id="instances-heading">
            <a ng-click="sortType = 'instances'; sortReverse = !sortReverse">
                Instances
                <span ng-show="sortType == 'instances' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'instances' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th id="state-heading">
            <a ng-click="sortType = 'state'; sortReverse = !sortReverse">
                State
                <span ng-show="sortType == 'state' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'state' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th id="disk-quota-heading">
            <a ng-click="sortType = 'disk_quota'; sortReverse = !sortReverse">
                Disk Quota
                <span ng-show="sortType == 'disk_quota' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'disk_quota' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>

    </thead>
    <tbody>
        <tr class="app-info" ng-repeat="app in space.apps | orderBy:sortType:sortReverse | filter:appSpace">
            <td class="app-name-data">
                <a ng-href="#/org/{{ main.MenuData.data.currentOrg.guid }}/spaces/{{ app.space_guid }}/apps/{{ app.guid }}">{{app.name}}</a>
            </td>
            <td class="buildpack-data">{{app.detected_buildpack}}</td>
            <td class="memory-data">{{app.memory}}</td>
            <td class="instances-data">{{app.instances}}</td>
            <td class="state-data">{{app.state}}</td>
            <td class="disk-quota-data">{{app.disk_quota}}</td>
        </tr>
    </tbody>
</table>
