<div ng-hide="activeUser">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>

                <input id="orgUserSearch" type="text" class="form-control" placeholder="Search for an org user"
                ng-model="orgUsersMgmtService">

            </div>
        </div>
    </form>
    <div class="alert alert-danger" role="alert" ng-show="removeOrgUserError">{{removeOrgUserError}}</div>
    <table id="orgUsersTable" class="table table-hover table-condensed">
        <thead>
            <th id='org-user-name-heading'>
                <a ng-click="sortType = 'entity.username'; sortReverse = !sortReverse">
                    Name
                <span ng-show="sortType == 'entity.username' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'entity.username' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
            </th>
            <th id='org-user-created-heading'>
                <a ng-click="sortType = 'metadata.created_at'; sortReverse = !sortReverse">
                    Date Created
                <span ng-show="sortType == 'metadata.created_at' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'metadata.created_at' && sortReverse" class="glyphicon glyphicon-arrow-down"</span>
            </a>
            </th>
            <th id='org-user-actions-heading'>
                    Actions
            </a>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="user in org_users | orderBy:sortType:sortReverse | filter:orgUsersMgmtService">
                <td class="org-user-name-data">
                    <a ng-click="setActiveUser(user)">{{user.entity.username}}</a>
                </td>
                <td class="org-user-date-created-data">{{user.metadata.created_at | date:'yyyy-MM-dd'}}</td>
                <td class="org-user-actions-data">

                     <button type="button" class="btn btn-danger" ng-disabled="restarting"
                      mwl-confirm title="Warning!" message="Are you sure you want to remove the user from the org??"
                      on-confirm="removeUserFromOrg(user)" confirm-button-type="danger"
                      cancel-button-type="default">
                          Remove User From Org
                      </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="activeUser">
  <h4>Roles for {{activeUser.entity.username}}</h4>
  <div class="row row-height text-center">
      <div class="col-xs-12 col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Org Manager</h3>
              </div>
              <div class="panel-body">
                  <toggle-switch ng-disabled="disableSwitches || !loadComplete.status" ng-click="toggleOrgUserPermissions('managers')"
                  ng-model="activeUser.managers">
                  </toggle-switch>
              </div>
          </div>
      </div>

      <div class="col-xs-12 col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Org Auditor</h3>
              </div>
              <div class="panel-body">
                  <toggle-switch ng-disabled="disableSwitches || !loadComplete.status" ng-click="toggleOrgUserPermissions('auditors')"
                  ng-model="activeUser.auditors">
                  </toggle-switch>
              </div>
          </div>
      </div>

      <div class="col-xs-12 col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Billing Manager</h3>
              </div>
              <div class="panel-body">
                  <toggle-switch ng-disabled="disableSwitches || !loadComplete.status" ng-click="toggleOrgUserPermissions('billing_managers')"
                  ng-model="activeUser.billing_managers">
                  </toggle-switch>
              </div>
          </div>
      </div>
  </div>
  <div class="alert alert-danger" role="alert" ng-show="orgUserError">{{orgUserError}}</div>
</div>
