<div ng-switch="view.status">
    <button type="button" class="btn btn-xs btn-warning delete-unbound-service-instance-btn" mwl-confirm title="Warning!"
    message="Are you sure you want to delete this service instance?" on-confirm="view.deleteService(service, false)"
    confirm-button-type="danger" cancel-button-type="default" ng-switch-when="unconfirmed" ng-disabled='view.disableButton'>
        Delete Service Instance
    </button>
    <button type="button" class="btn btn-xs btn-danger delete-bound-service-instance-btn" mwl-confirm title="Warning!"
    message="This service instance is bound to one or more apps!" on-confirm="view.deleteService(service, true)"
    confirm-button-type="danger" cancel-button-type="default" ng-switch-when="boundError" ng-disabled='view.disableButton'>
        Delete Bound Service Instance
    </button>
    <button  type="button" class="btn btn-xs btn-info delete-service-instance-error-btn" ng-click="showTab('serviceInstances')"  ng-switch-when="error" ng-disabled='view.disableButton'>
        Unknown Error, Click to Refresh.
    </button>
</div>
