<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>

            <input type="text" class="form-control" placeholder="Search for app" ng-model="serviceInstances">

        </div>
    </div>
</form>

<table id="serviceTable" class="table table-hover">
    <thead>
        <th>
            <a ng-click="sortType = 'entity.name'; sortReverse = !sortReverse">
                Name
                <span ng-show="sortType == 'entity.name' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'entity.name' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th>
            <a ng-click="sortType = 'entity.last_operation.type'; sortReverse = !sortReverse">
                Last Operation
                <span ng-show="sortType == 'entity.last_operation.type' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'entity.last_operation.type' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th>
            <a ng-click="sortType = 'entity.last_operation.updated_at'; sortReverse = !sortReverse">
                Updated At
                <span ng-show="sortType == 'entity.last_operation.updated_at' && !sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-show="sortType == 'entity.last_operation.updated_at' && sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </th>
        <th>  
        </th>
    </thead>
    <tbody>
        <tr class="app-info" ng-repeat="service in services | orderBy:sortType:sortReverse | filter:serviceInstances">
            <td>
               {{service.entity.name}}
            </td>
            <td>
                {{service.entity.last_operation.type}}
            </td>
            <td>
                {{service.entity.last_operation.updated_at | date:'medium'}}
            </td>
            <td>
                <div service='service' service-destroyer></div>
            </td>

        </tr>
    </tbody>
</table>

