<div class="page-header">
    <h3 class="text-center">{{activeOrg | orgNameFilter}} - {{space.name}}</h3>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified">
    <li ng-class="{active: activeTab=='apps'}"><a ng-href="#/org/{{ MenuData.data.currentOrg.guid }}/spaces/{{ space.guid }}">Apps</a>
    </li>
    <li ng-class="{active: activeTab=='services'}"><a ng-href="#/org/{{ main.MenuData.data.currentOrg.guid }}/spaces/{{ space.guid }}/services" >Service Instances</a>
    </li>
    <li ng-show='spaceManager' ng-class="{active: activeTab=='users'}"><a ng-click="unsetActiveUser()" ng-href="#/org/{{ main.MenuData.data.currentOrg.guid }}/spaces/{{ space.guid }}/users">User Management</a>
    </li>
</ul>
