{
  "extends": "plugin:jasmine/recommended",
  "env": {
    "jasmine": true
  },
  "globals": {
    "sinon": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "jasmine"
  ],
  "rules": {
    "comma-dangle": [2, "never"],
    "func-names": [0, "always"],
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "prefer-arrow-callback": 0
  }
}
